# 포트번호 설정
server:
  port: 80

# 애플리케이션 이름 설정
spring:
  application:
    name: workus
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://database-2.crzth3asbpqd.ap-northeast-2.rds.amazonaws.com:3306/workus?useSSL=false?serverTimezone=Asia/Seoul
    username: user1
    password: zxcv1234
  mvc:
    view:
      prefix: /WEB-INF/views/
      suffix: .jsp

# 첨부파일 업로드 폴더
upload:
  directory:
    board: "C:/projects/final-repository"

# spring mvc 설정
  mvc:
      view:
        prefix: /WEB-INF/views/
        suffix: .jsp

# mybatis 설정
mybatis:
  mapper-locations:
    - mybatis/mappers/*.xml
  configuration:
    jdbc-type-for-null: NULL
    log-impl: org.apache.ibatis.logging.log4j2.Log4j2Impl