<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.workus.attendance.mapper.AttendanceMapper">
    <select id="getAttendanceByUserNo" resultType="AttendanceDto">
        select
            U.USER_NO as no
            , U.ROLE_NO as roleNo
            , U.USER_UNUSED_ANNUAL_LEAVE as unusedAnnualLeave
            , P.ANNUAL_LEAVE_COUNT as annualLeaveCount
        from WORKUS_USERS U
           , WORKUS_POSITION P
        where U.POSITION_NO = P.POSITION_NO
          and U.User_NO = #{userNo}
    </select>
    <select id="getAllCategories" resultType="atdCategoryDto">
        select
            ATD_CATEGORY_NO as no
            , ATD_CATEGORY_NAME as name
            , ATD_CATEGORY_COUNT as count
        from
            WORKUS_ATTENDANCE_CATEGORY;
    </select>
    <insert id="insertApproval" >
        insert into
            WORKUS_ATTENDANCE
            (ATD_TEXT
            , ATD_FROM_DATE
            , ATD_TO_DATE
            , ATD_CATEGORY_NO
            , USER_NO
            , ATD_CATEGORY_TIME)
        values
            (#{form.reason}
            , #{form.fromDate}
            , #{form.toDate}
            , #{form.categoryNo}
            , #{form.userNo}
            , #{form.time})
        <selectKey keyProperty="form.no" resultType="Long" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
    </insert>
    <insert id="insertApprovalUsers" >
        insert into
        WORKUS_ATTENDANCE_USER
        (ATD_APPROVAL_STATUS
        , ATD_SEQUENCE
        , USER_NO
        , ATD_NO)
        values
        <foreach collection="users" item="user" separator=",">
            (#{user.status}
            , #{user.sequence}
            , #{user.userNo}
            , #{form.no})
        </foreach>
    </insert>
</mapper>