<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.workus.calendar.mapper.CalendarMapper">

    <!-- void insertCalendar(@Param("calendar") Calendar calendar); -->
    <insert id="insertCalendar">
        insert into WORKUS_CALENDAR
            (calendar_name, calendar_content, calendar_start_date, calendar_end_date, calendar_location, calendar_division, user_no, dept_no)
        values
            (#{calendar.name}, #{calendar.content}, #{calendar.startDate}, #{calendar.endDate}, #{calendar.location}, #{calendar.division}, 20135, 1003)

        <selectKey resultType="Long" keyProperty="calendar.no" keyColumn="calendar_no" order="AFTER">
            select last_insert_id()
        </selectKey>

    </insert>



</mapper>