<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.workus.chat.mapper.ChatMapper">
    <select id="getAllChatsByChatroomNo" resultType="Chat">
        select
            C.CHAT_NO as no
            , C.CHAT_CONTENT as content
            , C.CHAT_TIME as time
            , C.CHAT_FILE_SRC as file
            , U.USER_NO as "user.no"
            , U.USER_NAME as "user.name"
        from
            WORKUS_CHAT C
        inner join
            WORKUS_USERS U
        on
            C.USER_NO = U.USER_NO
        where
            C.CHATROOM_NO = #{chatroomNo}
    </select>
</mapper>