<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.workus.community.mapper.CommunityMapper">

    <!--
        List<Feed> getFeeds(@Param("begin") int begin, @Param("end") int end);
    -->
    <select id="getFeeds" resultType="Feed">
        select
            x.*
        from (select
                  row_number() over (order by B.community_no desc) rn
                    , B.community_no as no
                    , B.COMMUNITY_TITLE as title
                    , B.COMMUNITY_CONTENT as content
                    , B.COMMUNITY_MEDIA_URL as mediaUrl
                    , B.COMMUNITY_MEDIA_TYPE as mediaType
                    , B.COMMUNITY_CREATED_DATE as createDate
                    , B.COMMUNITY_UPDATED_DATE as updateDate
                    , B.USER_NO as "user.no"
                    , U.USER_NAME as "user.name"
              from
                  WORKUS_COMMUNITY B
              INNER JOIN
                  WORKUS_USERS U
              ON
                  B.USER_NO = U.USER_NO) x
        where x.rn between #{begin} and #{end}
    </select>

    <!--
     int getTotalRows();
 -->
    <select id="getTotalRows"  resultType="int">
        select
            count(*)
        from
            WORKUS_COMMUNITY
    </select>
    <!--
         List<HashTag> getHashTags(@Param("feedNo") int feedNo);
    -->
    <select id="getHashTags" resultType="HashTag">
        SELECT
        H.HASHTAG_NO    as no,
        H.HASHTAG_NAME  as name
        FROM
        WORKUS_HASHTAG H
        WHERE
       H.COMMUNITY_NO = #{feedNo}
    </select>


    
    <!--   
     void addNewFeed(@Param("feed") Feed feed);
    -->
    <insert id="addNewFeed">
    insert into WORKUS_COMMUNITY
        (COMMUNITY_TITLE
        ,COMMUNITY_CONTENT
        ,COMMUNITY_MEDIA_URL
        ,COMMUNITY_MEDIA_TYPE
        ,USER_NO)
    values
        (#{feed.title}
        ,#{feed.content}
        ,#{feed.mediaUrl}
        ,#{feed.mediaType}
        ,#{feed.user.no})

        <selectKey resultType="Long" keyProperty="feed.no" keyColumn="community_no" order="AFTER">
            select last_insert_id()
        </selectKey>

    </insert>
    <!--
        void addHashTag(@Param("hashTag") HashTag hashTag);
    -->
    <insert id="addHashTag">
        insert into WORKUS_HASHTAG
        (HASHTAG_NAME
        ,COMMUNITY_NO)
        values
        (#{hashTag.name}
        ,#{hashTag.feed.no})
    </insert>

</mapper>