<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.workus.user.mapper.UserMapper">
    <select id="getAllUsers" resultType="User">
        select
            U.USER_NO as no
            , U.USER_ID as id
            , U.USER_NAME as name
            , U.USER_PASSWORD as password
            , U.USER_EMAIL as email
            , U.USER_ADDRESS as address
            , U.USER_BIRTH_DATE as birthday
            , U.USER_HIRE_DATE as hireDate
            , U.USER_QUIT_DATE as quitDate
            , U.USER_STATUS as status
            , U.USER_PROFILE_SRC as profileSrc
            , U.USER_PR as pr
            , U.USER_PHONE as phone
            , U.USER_UNUSED_ANNUAL_LEAVE as unusedAnnualLeave
            , P.POSITION_NO as positionNo
            , P.POSITION_NAME as positionName
            , D.DEPT_NO as deptNo
            , D.DEPT_NAME as deptName
            , R.ROLE_NO as roleNo
            , R.ROLE_NAME as roleName
        from
            WORKUS_USERS U
            inner join
            WORKUS_POSITION P
        on
            U.POSITION_NO = P.POSITION_NO
            inner join
            WORKUS_DEPT D
            on
            U.DEPT_NO = D.DEPT_NO
            inner join
            WORKUS_ATH_ROLE R
            on
            U.ROLE_NO = R.ROLE_NO
        order by U.DEPT_NO ASC, U.POSITION_NO ASC
    </select>
    <!--    User getUserByUserNo(@Param("userNo") long userNo);-->
    <select id="getUserByUserNo" resultType="User">
        select
            U.USER_NO as no
            , U.USER_ID as id
            , U.USER_NAME as name
            , U.USER_PASSWORD as password
            , U.USER_EMAIL as email
            , U.USER_ADDRESS as address
            , U.USER_BIRTH_DATE as birthday
            , U.USER_HIRE_DATE as hireDate
            , U.USER_QUIT_DATE as quitDate
            , U.USER_STATUS as status
            , U.USER_PROFILE_SRC as profileSrc
            , U.USER_PR as pr
            , U.USER_PHONE as phone
            , U.USER_UNUSED_ANNUAL_LEAVE as unusedAnnualLeave
            , P.POSITION_NO as positionNo
            , P.POSITION_NAME as positionName
            , D.DEPT_NO as deptNo
            , D.DEPT_NAME as deptName
            , R.ROLE_NO as roleNo
            , R.ROLE_NAME as roleName
        from
            WORKUS_USERS U
        inner join
            WORKUS_POSITION P
        on
            U.POSITION_NO = P.POSITION_NO
        inner join
            WORKUS_DEPT D
        on
            U.DEPT_NO = D.DEPT_NO
        inner join
            WORKUS_ATH_ROLE R
        on
            U.ROLE_NO = R.ROLE_NO
        where
            U.USER_NO = #{userNo}
    </select>

    <select id="getUserById" resultType="User">
        select
            U.USER_NO as no
            , U.USER_ID as id
            , U.USER_NAME as name
            , U.USER_PASSWORD as password
            , U.USER_EMAIL as email
            , U.USER_ADDRESS as address
            , U.USER_BIRTH_DATE as birthday
            , U.USER_HIRE_DATE as hireDate
            , U.USER_QUIT_DATE as quitDate
            , U.USER_STATUS as status
            , U.USER_PROFILE_SRC as profileSrc
            , U.USER_PR as pr
            , U.USER_PHONE as phone
            , U.USER_UNUSED_ANNUAL_LEAVE as unusedAnnualLeave
            , P.POSITION_NO as positionNo
            , P.POSITION_NAME as positionName
            , D.DEPT_NO as deptNo
            , D.DEPT_NAME as deptName
            , R.ROLE_NO as roleNo
            , R.ROLE_NAME as roleName
        from
            WORKUS_USERS U
        inner join
            WORKUS_POSITION P
        on
            U.POSITION_NO = P.POSITION_NO
        inner join
            WORKUS_DEPT D
        on
            U.DEPT_NO = D.DEPT_NO
        inner join
            WORKUS_ATH_ROLE R
        on
            U.ROLE_NO = R.ROLE_NO
        where
            U.USER_ID = #{id}
    </select>

    <select id="getAllUsersByName" resultType="com.example.workus.user.vo.User">
        select
            U.USER_NO as no
            , U.USER_ID as id
            , U.USER_NAME as name
            , U.USER_PASSWORD as password
            , U.USER_EMAIL as email
            , U.USER_ADDRESS as address
            , U.USER_BIRTH_DATE as birthday
            , U.USER_HIRE_DATE as hireDate
            , U.USER_QUIT_DATE as quitDate
            , U.USER_STATUS as status
            , U.USER_PROFILE_SRC as profileSrc
            , U.USER_PR as pr
            , U.USER_PHONE as phone
            , U.USER_UNUSED_ANNUAL_LEAVE as unusedAnnualLeave
            , P.POSITION_NO as positionNo
            , P.POSITION_NAME as positionName
            , D.DEPT_NO as deptNo
            , D.DEPT_NAME as deptName
            , R.ROLE_NO as roleNo
            , R.ROLE_NAME as roleName
        from
            WORKUS_USERS U
        inner join
            WORKUS_POSITION P
        on
            U.POSITION_NO = P.POSITION_NO
        inner join
            WORKUS_DEPT D
        on
            U.DEPT_NO = D.DEPT_NO
        inner join
            WORKUS_ATH_ROLE R
        on
            U.ROLE_NO = R.ROLE_NO
        where
            U.USER_NAME like CONCAT('%',#{name},'%')
    </select>

</mapper>